$v-background-color: hsl(199, 100%, 84%);
//$v-font-size: 18px;
//$v-border-radius: 8px !default;

@import "../valo/valo.scss";


@mixin darktheme {
  @include valo;

  .v-button {
    background-image: none;
    background-color: #fffac5;
    height: 20px;
    font-size: 12px;
    align-content: center;
  }

  .v-panel {
    background-image: none;
    background-color: #ffffff;
    font-size: 14px;
    width: 310px;
    height: 370px;
    margin: 20px;
    align-content: center;
    text-align: center;
  }

  .v-grid {
    background-image: none;
    background-color: #ffffff;
    width: 270px;
    height: 120px;
  }


  .panelCounter {
    width: 170px;
    height: 80px;
    background-color: #cdf1ff;
    text-align: center;
  }

  .backColorBlue{
    background-color: #91e5f9;
  }

  .backColorGreen{
    background-color: #ffffff;
    padding-left: 20px;
    border-radius: 8px;
    margin: 40px;
  }

  .backColorFon{
    background-color: #ffffff;
  }

  .backColorFon2{
    background-color: #ffffff;
  }

  .backColorYellow{
    background-color: #ffffff;
  }

  .backColorGray{
    background-color: #ffffff;
  }

  .layoutDayItem{
    background-color: #cdf1ff;
    border-radius: 5px;
    font-size: 12px;
    width: 250px;
    height: 90px;
  }

  .backColorFooter{
    background-color: #ffffff;
  }

  .backColorRose{
    background-color: #ff96b9;
  }

  .textSizeToday{
    font-size: 20px;
    font-weight: bold;
  }
}
