$v-background-color: hsl(199, 100%, 84%);
//$v-font-size: 18px;
//$v-border-radius: 8px !default;

@import "../valo/valo.scss";


@mixin darktheme {
  @include valo;

  .v-button {
    background-image: none;
    background-color: #fffac5;
    height: 20px;
    font-size: 12px;
    align-content: center;
  }

  .v-grid {
    background-image: none;
    background-color: #ffffff;
    margin-top: 20px;
  }

  .styleGrid{
    background-image: none;
    background-color: #cdf1ff;
    width: 430px;
    height: 116px;
    padding: 0;
  }

  .panelCounter {
    width: 180px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    margin-top: 40px;
    padding: 0;
  }

  .styleMainL{
    background-color: #8bd9e4;
    width: 960px;
    height: 520px;
    border-radius: 8px;
    margin: 5px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .styleBaseL{
    background-color: #ffffff;
    margin: 0;
  }

  .styleWLayout{
    background-color: #ffffff;
    width: 310px;
    height: 450px;
    padding-left: 20px;
    border-radius: 8px;
  }

  .styleWHeader{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 30px;
  }

  .layoutDayItem{
    background-color: #cdf1ff;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    width: 250px;
    height: 100px;
  }

  .styleFooter{
    background-color: #ffffff;
    height: 60px;
    width: 950px;
    padding: 0;
  }

  .ipInfo{
    margin-left: 320px;
    padding: 0;
  }

  .styleV2{
    background-color: #8bd9e4;
    margin: 0;
    margin-left: 40px;
    padding: 0;
  }

  .styleMLayout{
    background-color: #ffffff;
    height: 280px;
    width: 500px;
    border-radius: 8px;
  }

  .todayLdate{
    height: 20px;
    margin: 0;
    padding: 0;
  }

  .textSizeToday{
    font-size: 27px;
    font-weight: bold;
  }

  .textSize{
    font-size: 16px;
    margin-top: 5px;
  }

  .indent{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .indentM{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .styleTitle{
    color: #095988;
    font-weight: bold;
    font-size: 22px;
  }
}
